---
import { Image } from 'astro:assets';

type Props = {
  name: string;
  profession: string;
  headshot: any;
  work: any;
  description: string;
};

const { name, profession, headshot, work, description } = Astro.props;
---

<div class="card gap-4 border p-4">
    <div class ="imageContainer flex flex-row">
        <Image 
            src={headshot}
            alt="Image not Found"
            class="w-1/2 object-cover"
        />
        <Image 
            src={work}
            alt="Image not Found"
            class="w-1/2 object-cover"
        />
    </div>
    
    <div class = "artistInfo flex flex-col mt-2 gap-2">
        <div class="header flex flex-col">
            <h2 class = "text-2xl font-bold">{name}</h2>
            <p class="text-1xl font-extralight">{profession}</p>
        </div>
        <p class="" >{description}</p>
    </div>
</div>