---
import { Image } from "astro:assets";
// Props for the component
const { imageSrc, altText, hoverName, hoverProfession, className } = Astro.props;
---

<div class={`relative inline-block w-[225px] overflow-hidden ${className}`}>
    <Image 
      src={imageSrc} 
      width={1200} 
      height={1500} 
      alt={altText} 
      class="w-full h-full object-cover block"
    />
    <div class="absolute inset-0 flex flex-col items-center justify-center bg-black/50 text-white text-center opacity-0 hover:opacity-100 transition-opacity duration-300 p-2.5">
      <div class="font-bold text-2xl">{hoverName}</div>
      <div class="text-xl mt-1.5">{hoverProfession}</div>
    </div>
  </div>