---
import { Image } from "astro:assets";
// Props for the component
const { imageSrc, altText, hoverName, hoverProfession, className } = Astro.props;
---

<div class={`hover-image-container ${className}`}>
  <Image src={imageSrc} width={1200} height={1500} alt={altText} class="hover-image" />
  <div class="hover-text">
    <div class="hover-name">{hoverName}</div>
    <div class="hover-profession">{hoverProfession}</div>
  </div>
</div>

<style>
  .hover-image-container {
    position: relative;
    display: inline-block;
    width: 15vw; /* Adjust to fit your needs */
    overflow: hidden;
  }

  .hover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .hover-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    color: white;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 10px;
  }

  .hover-image-container:hover .hover-text {
    opacity: 1;
  }

  .hover-name {
    font-weight: bold;
    font-size: 1.5rem; /* Adjust size as needed */
  }

  .hover-profession {
    font-size: 1.25rem; /* Adjust size as needed */
    margin-top: 5px; /* Adds space between the name and profession */
  }
</style>
